/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
table, caption, tbody, tfoot, thead, tr, th, td, footer, ul, header, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--bluehighlightcolor:rgba(212, 239, 245, 0.5);
	--buttoncolor:rgba(63, 63, 191)
	}

h1, h3 {
	font-family: 'Roboto', sans-serif, !important;
	text-align: center;
}

h1:first-child {
	font-size: 1.5vw
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: rgb(249, 249, 249)
}

nav {
	text-align: center;
}

.CityTabs ul {
	width: 100%;
}
.CityTabs li {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 1vh;
	padding-left:.2vw;
}

button {
	background:transparent;
	border:1px solid grey;
	height: 5vh;
	text-transform: uppercase;
}

button:hover {
      background-color: var(--buttoncolor);
      color: white;
 }
 
#GoogleMapsContainer {
	width: 60%;
	height: 60%;
	background-color: green;
	border: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#MapLegend {
	display: flex;
	width: 100%;
	justify-content: center;
}

#MapLegend span {
	font-size: 0.9vw;
	margin-left: 10px;
	margin-right:10px;
}

#WeatherBox {
	width: 13%;
	height: 6%;
	background-color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
}


table {
	overflow: auto;
	border-collapse: collapse;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
}

table caption {
	font-size: 1.5vw
}
table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
	text-align: left;
}

tr {
	min-height: 18px;
}

tr:first-child {
	background-color: var(--bluehighlightcolor);
}
tr:hover {
	background-color: var(--bluehighlightcolor);
}

footer {
	margin-top: 1vh;
	padding-top: 1vh;
	width:100%;
	text-align:center;
	background-color: rgb(249, 249, 249)
}
