/* Reset */

body,
caption,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
p,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
  margin    : 0;
  padding   : 0;
  border    : 0;
  font      : inherit;
  font-size : 100%;
}

body,
html {
  width       : 100%;
  height      : 100%;
  margin      : 0;
  font-family : 'Open Sans',
                sans-serif;
}

:root {
  --bluehighlightcolor : rgba(212, 239, 245, 0.5);
}

h1,
h3 {
  text-align  : center;
  font-family : 'Roboto',
                sans-serif !important;
}

h1:first-child {
  font-size : 2.5vw;
}

header {
  display               : -webkit-box;
  display               : flex;
  display               : -ms-flexbox;
  -webkit-box-direction : normal;
  -webkit-box-orient    : vertical;
  -webkit-box-pack      : center;
  background-color      : rgb(249, 249, 249);
  align-content         : center;
  -ms-flex-direction    : column;
  flex-direction        : column;
  -ms-flex-line-pack    : center;
  -ms-flex-pack         : center;
  justify-content       : center;
}

nav {
  text-align : center;
}

.CityTabs ul {
  width : 100%;
}

.CityTabs li {
  display         : inline-block;
  padding-top     : 2vh;
  padding-bottom  : 1vh;
  padding-left    : .2vw;
  text-align      : center;
  list-style-type : none;
}

button {
  height         : 5vh;
  border         : 1px solid grey;
  background     : transparent;
  text-transform : uppercase;
}

button:hover {
  color            : white;
  background-color : var(--buttoncolor);
}

#GoogleMapsContainer {
  position         : relative;
  width            : 70%;
  height           : 60%;
  margin-right     : auto;
  margin-left      : auto;
  border           : 1px solid green;
  background-color : green;
}

#MapLegend {
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-pack : center;
  width            : 100%;
  -ms-flex-pack    : center;
  justify-content  : center;
}

#MapLegend span {
  margin-right : 10px;
  margin-left  : 10px;
  font-size    : 0.9vw;
  font-weight  : bold;
}

#TableContainer {
  width        : 70%;
  margin-top   : 2.5vh;
  margin-right : 15%;
  margin-left  : 15%;
}

table caption {
  font-size : 1.5vw;
}

table,
td,
th {
  border : 1px solid black;
}

td,
th {
  padding    : 5px;
  text-align : left;
}

tr {
  min-height  : 18px;
  font-weight : bolder;
}

footer {
  width            : 100%;
  margin-top       : 1vh;
  padding-top      : 1vh;
  background-color : rgb(249, 249, 249);
  text-align       : center;
}

@media
  screen
  and (max-width : 700px) {
  h1:first-child {
    font-size   : 2.5vw;
    font-weight : bolder;
  }

  h3 {
    font-size   : 2.3vw;
    font-weight : bolder;
  }

  #GoogleMapsContainer {
    width        : 100%;
    margin-right : 0px;
    margin-left  : 0px;
  }

  #MapLegend span {
    font-size   : 2.3vw;
    font-weight : bolder;
  }

  #TableContainer {
    width        : 100%;
    margin-right : 0px;
    margin-left  : 0px;
  }

  tr {
    font-size   : 2.8vw;
    font-weight : bolder;
  }
}
